extends layout

block content
  section.doubleContent-section(style='background-image:url()')
    section.doubleContent-section-header
      h1 Delid CPU
    article.doubleContent-section-clear
      article.doubleContent-section-divider
        article.doubleContent-section-content.float
          h3 Čo to je
          .doubble
            p Delid CPU je manuálne odstránenie (odkrytovanie) tzv. IHS ( Integrated Heat Spreader), ktorý odvádza teplo do samotného CPU chladiča. Priamo na čip nanesie pasta na báze tekutého kovu, ktoré majú najlepšie výsledky (prípadne inú pastu, ktorú si zákazník vyberie). Následne pomocou špeciálneho lepidla upevníme IHS na PCB (PCB (printed‑circuit board) → karta procesora).
            .icon
              <i class="fas fa-thermometer-empty"></i>
        article.doubleContent-section-content
          h3 Thermal Grizzly
          .doubble
            p Pre dosiahnutie čo najlepších výsledkov používame produkty firmy Thermal Grizzly. Pod IHS priamo na čip aplikujeme teplovodivú pastu na báze tekutého kovu Thermal Grizzly Conductonaut pre jej vysokú tepelnú vodivosť. Na IHS aplikujeme teplovodivú pastu Thermal Grizzly Kryonaut.
            .icon
              <i class="fas fa-clipboard-check"></i>

  section.media-section
    article.media-section-content
      video(width="320" height="240" controls)
        source(src="delid.mp4" type="video/mp4")

  section(class="side-section" style="background-image:url('');background-position: center;background-size: cover;background-attachment: scroll;")
    section(class="side-section-content")
      section(class="side-section-float")
        header(class="side-section-header")
          h1 Požiadavka zákazníka a návrh zostavy
        section(class="side-section-content-text")
          span(class="side-section-desc") Vaše požiadavky radi prediskutujeme telefonicky, prostredníctvom e-mailu či Facebooku. Taktiež osobne v našej kancelárii alebo po dohode kdekoľvek v okrese Senec a Bratislava. Po vytvorení návrhu zostavy Vám ho predložíme na schválenie.
      section(class="side-section-img")
        img(src="https://static.pexels.com/photos/7075/people-office-group-team.jpg" class="normal" alt="section-photo")
 
  .table
    section.medium-header
      h2 Ponuka
    table.table-section
      tr
        th Typ Delid-u
        th.center Basic
        th.center Pro
      tr
        td Odstránenie IHS od PCB
        td.center Áno
        td.center Áno
      tr
        td Vyčistenie Isopropyl alkoholom
        td.center Áno
        td.center Áno
      tr
        td Aplikácia Thermal Grizzly Conductonaut
        td.center Nie
        td.center Áno
      tr
        td Lepenie IHS na PCB
        td.center Nie
        td.center Áno
      tr
        th Cena:
        th.center 15€
        th.center 35€

  article.delid-ponukame
    article.delid-ponukame-container
      section.delid-ponukame-header
        h2 Delid ponúkame pre procesory so socketom
      section.delid-ponukame-text
        p 1150 (Intel) - celý zoznam podporovaných procesorov (Haswell).
        p 1155 (Intel) - celý zoznam podporovaných procesorov (Sandy Bridge a Ivy Bridge).
        p 1151 (Intel) - celý zoznam podporovaných procesorov (Skylake, Kaby Lake a Coffee Lake).
    article.delid-ponukame-container 
      section.delid-ponukame-header
        h2 Upozornenie
      section.delid-ponukame-text#vacsi
        .jedno
          p Delid 'Basic' je možný len pre procesory so socketom 1150, 1155 a 1151. Delid 'Profi' je možný len pre procesory so socketom 1150 a 1151.
          p Procesor, ktorý prejde delidom 'Basic' nie je funkčný a je potrebné ho ešte následne zlepiť! Tento úkon si vyžaduje odbornú manipuláciu s procesorom!
        .jedno
          p Úkonom odstránenia IHS sa stráca záruka na CPU tzn. nie je možné ho reklamovať . Každé CPU, ktorému sa odstráni IHS je testované na funkčnosť..
          p V prípade, že CPU poškodíme a znefunkčníme, zákazníkovi dodávame nové.

  section.whats-next
    .whats-next-wrapper
      .whats-next-header
        h2 Ďaľší článok
      .whats-next-content
        p.next-click#click1 
          span#content1.noo Doprava a Platba
          span.hiide / Predstavíme Vám možnosti dopravy a platby. Doprava pre Senec a okolie je zadarmo.
  section.whats-prev
    .whats-next-wrapper
      .whats-next-header
        h2 Predošlý článok
      .whats-next-content
        p.next-click#click2 
          span#content1.noo PC Na Mieru
          span.hiide / Predstavíme Vám proces poskladania vášho vysnívaného PC v jednoduchých troch krokoch.
  div(style="clear:both;")