extends layout

block content
	section(class="main-section truck" style="")
		section(class="main-section-content")
			header(class="main-section-header")
				h1.highlight Doprava a Platba
			section(class="main-section-content-text")
				span(class="main-section-desc highlight") Pri objednávke nad 2000€ je doprava zdarma.
	.ine
		section.medium-header
			h2 Platba
		article.platba
			section.platba-section
				.teext
					p 
						| Pre 
						span PC Na Mieru 
						| je platba možná len vopred, nakoľko sa jedná o jedinečné zostavy na mieru, ktoré by inak boli nepredajné. 
					p Možnosti platby za zostavy sú následovné ->
				.square
					p Bankový prevod na účet firmy
					p Vklad na účet firmy (možnosť aj osobného stretnutia)

		.divider

		article.platba
			section.platba-section
					.teext
						p 
							| Na ostatne 
							span Služby a servis
							|  je možná len vopred, okrem prípadov kedy sa dá uplatniť dobierka, napr. Delid CPU. 
						p Možnosti platby za zostavy sú následovné ->
					.square
						p Bankový prevod na účet firmy
						p Vklad na účet firmy (možnosť aj osobného stretnutia)
						p Dobierka

	.table
		section.medium-header
			h2 Doprava
		table.table-section
			tr
				th Spôsob dopravy:
				th Cena:
			tr
				td Osobný odber v sídle firmy
				td.right Zdarma
			tr
				td Osobný dovoz zo strany firmy:
				td.right Pre SC a BA Zdarma, ostatné dohodou
			tr
				td Kuriér
				td.right od 5€ - cena závisí od hmotnosti
		#xdxd
			p 

	section.whats-next
		.whats-next-wrapper
			.whats-next-header
				h2 Pozrite naspat:
			.whats-next-content
				p.next-click#click1 delid cpu
	div(style="clear:both;")