extends layout

block content
	section(class="main-section truck" style="")
		section(class="main-section-content")
			header(class="main-section-header")
				h1.highlight Doprava a Platba
			section(class="main-section-content-text")
				span(class="main-section-desc highlight") Pri objednávke nad 2000€ je doprava zdarma.
	.ine
		article.platba
			section.platba-section
				.platba-box
					.medium-header
						h2 Platba
						.choice
							h3#pc.active PC Na Mieru 
							h3#sas Služby a servis
				.platba-box
					p.change-info Pre PC Na Mieru je platba možná len vopred, nakoľko sa jedná o jedinečné zostavy na mieru, ktoré by inak boli nepredajné. 
					p Možnosti platby za zostavy sú následovné
					.options
						ul
							li.change-li1 Bankový prevod na účet firmy
							li.change-li2 Vklad na účet firmy (možnosť aj osobného stretnutia)
							li.change-li3 Dobierka

		.divider

	.table
		section.medium-header
			h2 Doprava
		table.table-section
			tr
				td Osobný odber v sídle firmy
				td.right Zdarma
			tr
				td Osobný dovoz zo strany firmy:
				td.right Pre SC a BA Zdarma, ostatné dohodou
			tr
				td Kuriér
				td.right od 5€ - cena závisí od hmotnosti
		#xdxd
			p 

	section.whats-next
		.whats-next-wrapper
			.whats-next-header
				h2 Pozrite naspat:
			.whats-next-content
				p.next-click#click1 delid cpu
	div(style="clear:both;")