extends layout

block content
    h2 Platba

    h4 PC Na Mieru
    p Platba je možná len vopred, nakoľko sa jedná o jedinečné zostavy na mieru, ktoré by inak boli nepredajné. Možnosti platby za zostavy sú následovné:
    p Bankový prevod na účet firmy 
    p Vklad na účet firmy (možnosť aj osobného stretnutia)

    h4 Služby a servis
    p Platba je možná len vopred, okrem prípadov kedy sa dá uplatniť dobierka, napr. Delid CPU. Možnosti platby za zostavy sú následovné:
    p Bankový prevod na účet firmy
    p Vklad na účet firmy (možnosť aj osobného stretnutia)
    p Dobierka

    table.other-page-table-section
        h2 Doprava
        tr
            th Spôsob dopravy:
            th Cena:
        tr
            td Osobný odber v sídle firmy
            td Zdarma
        tr
            td Osobný dovoz zo strany firmy:
            td Pre SC a BA Zdarma, ostatné dohodou
        tr
            td Kuriér
            td od 5€ - cena závisí od hmotnosti
        tr
            td Pri objednávke nad 2000€ doprava zdarma.
        

