extends layout

block content 


  section.doubleHeader-section#one
    section.doubleHeader-section-content
      header.doubleHeader-section-header
        h1 3 Jednoduché kroky
        h4 Ku Vášmu vysnenému PC
      .see-more(onclick="clickedButton('see-more')")
        span.arrow-text Pozrieť
        br
        i(class="fa fa-arrow" aria-hidden='true')

  section(class="side-section" style="background-image:url('');background-position: center;background-size: cover;background-attachment: scroll;")
    section(class="side-section-content")
      section(class="side-section-float")
        header(class="side-section-header")
          h1 Požiadavka zákazníka a návrh zostavy
        section(class="side-section-content-text")
          span(class="side-section-desc") Vaše požiadavky radi prediskutujeme telefonicky, prostredníctvom e-mailu či Facebooku. Taktiež osobne v našej kancelárii alebo po dohode kdekoľvek v okrese Senec a Bratislava. Po vytvorení návrhu zostavy Vám ho predložíme na schválenie.
      section(class="side-section-img")
        img(src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" class="normal" alt="section-photo")

  section(class="side-section" style="background-image:url('');background-position: center;background-size: cover;background-attachment: scroll;")
    section(class="side-section-content")
      section(class="side-section-float left")
        header(class="side-section-header")
          h1 Realizácia Projektu
        section(class="side-section-content-text")
          span(class="side-section-desc") Po schválení návrhu nasleduje objednávka a kompletizácia zostavy. Všetky komponenty sú starostlivo skontrolované a namontované. Na procesor aplikujeme prvotriednu teplovodivú pastu pre dosiahnutie čo najnižších teplôt. Taktiež je možný aj tzv. 'delid' a následný 'relid' procesoru. Po osadení všetkých komponentov sa dbá na inštaláciu a vedenie kabeláže, tak aby nebránila prietoku vzduchu a zároveň vyzerala esteticky.
      section(class="side-section-img")
        img(src="https://static.pexels.com/photos/7093/coffee-desk-notes-workspace.jpg" class="normal" alt="section-photo")

  section(class="side-section" style="background-image:url('');background-position: center;background-size: cover;background-attachment: scroll;")
    section(class="side-section-content")
      section(class="side-section-float")
        header(class="side-section-header")
          h1 Prvé spustenie a inštalácia
        section(class="side-section-content-text")
          span(class="side-section-desc") Nasleduje spustenie zostavy a overenie jej správneho fungovania. Ďalej sa aktualizuje rozhranie BIOS na najnovšiu verziu. Ak si zákaznik spolu so zostavol zakúpil OS alebo dodá svoj už vlastnený, tak ho nainštaluje spolu s najnovšími ovládačmi zariadení, ktoré sú v zostave. Taktiež je možné nainštalovať programy podla vyberu zakaznika.
      section(class="side-section-img")
        img(src="https://static.pexels.com/photos/276549/pexels-photo-276549.jpeg" class="normal" alt="section-photo")

  section.why-us-section
    header.why-us-section-header
      h2 Prečo práve my?
    .why-us-section-wrapper
      article.why-us-section-reason#oneone
        i(class="stack")
        span Naše zostavy skladáme tak, aby dosiahli vysoký výkon a zároveň najvyššiu kvalitu za Vaše peniaze.
      article.why-us-section-reason#twotwo
        i(class="market")
        span Zostavy vždy pred odovdzaním riadne preverujeme a testujeme.
      article.why-us-section-reason#threethree
        i(class="book")
        span Vzdelávame sa, sledujeme trendy a trh aby sme Vám vždy to najlepšie čo PC svet ponúka.

  section.doubleContent-section(style='background-image:url()')
    section.doubleContent-section-header
      h1 Dodatočné služby
    article.doubleContent-section-clear
      article.doubleContent-section-divider
        article.doubleContent-section-content
          h3 Pretaktovanie a odladenie
          p Ak is zákazník želá, vybrané komponenty pretaktujeme na najvyšší možný výkon pri zachovaní nízkych teplôt a efektivity zostavy. Následne pretaktovanie testujeme dôslednými záťažovými testami. Samozrejmosťou je nastavenie otáčok ventilátorov, tak aby dosiahli čo nízku hlučnosť. 
        article.doubleContent-section-content
          h3 Delid CPU
          p V prípade, že v zostave máte procesor rady 'K' od Intelu (napr. Intel Core i7-6700K), dostanete zľavu 30% na delid 'Profi'. 
          p Pre viac info kliknite
        article.doubleContent-section-content-img
          img

  section.media-section
    article.media-section-content
      video( controls)
        source(src="stavba.mp4" type="video/mp4")
  .divider

  section.whats-next
    .whats-next-wrapper
      .whats-next-header
        h2 Pozrite dalej:
      .whats-next-content
        p.next-click delid cpu

    .whats-next-wrapper
      .whats-next-header
        h2 Pozrite naspat:
      .whats-next-content
        p.next-click index